body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.rm {
  background-color: red;
  border-radius: 50%;
  color: white;
  border: none;
}

.done {
  text-decoration: line-through;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.checkbox {
  margin-right: 1rem;
}

.submit {
  margin-bottom: 1rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fb9e7f;
  border-color: #fd8861 transparent #fd8861 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-div {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

